<div class="container project-container">
  <h2>Other Projects</h2>
  {% for project in otherProjects %}
    <div class="project">
      <div class>
          <h3 class="project__name">
              {{ project.name }}
          </h3>
        </div>
      <div class="project__img-container">
        {% assign alt = project.alt %}
        {% unless project.alt %}
          {% capture alt %}{{ project.name }} Screenshot{% endcapture %}
        {% endif %}
        <img class="project__img" src="img/{{ project.img }}" alt="{{alt}}">
      </div>
      <div class="project__details">
        <div class="skill-tags">
          {% for tag in project.tags %}
            <div class="skill-tag">{{ tag }}</div>
          {% endfor %}
        </div>
        
        {% if project.description %}
        <p>
          {{ project.description}}
        </p>
        {% endif %}


        {% if project.projectDescription %}
        <p>
          {{ project.projectDescription}}
        </p>
        {% endif %}

     

        {% if project.technicalDescription %}
        <p>
          {{ project.technicalDescription}}
        </p>
        {% endif %}
          
        <p>
          <div>
            {% for button in project.buttons %}
              <a class="btn" href="{{button.url}}" target="_blank">{{button.text}}</a>
            {% endfor %}
          </div>
        </p>
      </div>
    </div>
  {% endfor %}
</div>
